<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Кликер</title>
    <link rel="stylesheet" href="backend/static/css/index.css"> 
    <script type="text/javascript" src="backend/static/js/index.js"></script> 
</head>
<body> 
    <main class="app"> 
        <nav class="nav"> 
            Ну здравствуй, {{ user.username }} 
            <a href="{% url 'logout' %}">Выйти</a> 
        </nav> 

        <div class="container"> 
            <div id='coins'>{{core.coins}}</div>
            <button onclick="call_click()">Мощь</button>
            <p class="click_power">
                Твоя СИЛА: <span id="click_power">{{ core.click_power }}</span>
            </p>
            <p class="click_power"> 
                Твои РАБОТНИКИ: <span id="auto_click_power">{{ core.auto_click_power }}</span> 
            </p>
        </div> 

        <aside class="boosts" id="boosts">
            <h3 class="clickpower">Апгрейды</h3>
            <div class="boosts-holder" id="boosts-holder">
                {% for boost in boosts %}
                    <button class="boost{{boost.type}} boostik" id="boost_{{boost.id}}" onclick="buy_boost({{boost.id}})">
                        <p class="lvl">lvl: <span id="boost_level">{{boost.level}}</span></p>

                        <p class="power">+<span id="boost_power">{{boost.power}}</span></p>
                        <p class="price"><span id="boost_price">{{boost.price}}</span></p>
                    </button>
                {% endfor %}
            </div>
        </aside>
    </main> 
</body>
</html>